<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- parametros para la conexion a la base de datos -->
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost/repaso3</property>
    <property name="connection.username">root</property>
    <property name="connection.password">9874</property>
    
    <!-- Configuracion del pool interno -->
    <property name="connection.pool_size">1</property>

    <!-- Dialecto de la base de datos -->
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

    <!-- Otras propiedades importantes -->
    <property name="show_sql">true</property>
    <!-- Para crear las tablas o si se quiere borrar todo en cada ejecución -->
    <property name="hbm2ddl.auto">create-drop</property> 
    <!-- Actualiza datos, pero no borra lo anterior -->
    <!-- <property name="hbm2ddl.auto">update</property>  -->
    <!-- No establecido -->
    <!-- <property name="hbm2ddl.auto">none</property> -->

    <!-- Evita que la app siga ejecutándose tras finalizar la sesión -->
    <property name="hibernate.c3p0.timeout">0</property>

    <!-- Aqui iran los archivos de mapeo -->
    <mapping class="modelo.dto.Usuario"/>
    <mapping class="modelo.dto.Linea"/>
    <mapping class="modelo.dto.Tarifa"/>
    <mapping class="modelo.dto.Terminal"/>
    <mapping class="modelo.dto.Llamada"/>
   
   
   
  </session-factory>
</hibernate-configuration>
